<h1>FAANG Must Do Problems</h1>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort
  class="mat-elevation-z8">

  <ng-container matColumnDef="no">
  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
  No
  </th>
  <td mat-cell *matCellDef="let element"> {{element.no}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
  Title
  </th>
  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Level Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by level">
    Level
    </th>
    <td mat-cell *matCellDef="let element"> 
      <ng-container *ngIf="element.level as level">
        <app-tag [color]="getColorByLevel(level)">{{ level }}</app-tag>
      </ng-container>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="convertToSolutionUrl(row.title)">
  
  </tr>
  </table>
</div>
