
<nav class="mat-typography mat-app-background" class="navbar" [ngStyle]="{'position': position}">
  <a class="avatar">
    <img src="/assets/avatar.png" >
    LvCH
  </a>
  <ul>
    <li><a routerLink='about'>About</a></li>
    <!-- <li>
      <a [matMenuTriggerFor]="blogMenu">
        Blog 
        <img src="/assets/icon/down-arrow.svg"  width=10x>
      </a>
      <mat-menu #blogMenu="matMenu">
        <button mat-menu-item routerLink="/blog/leetcode">Leetcode</button>
        <button mat-menu-item>Mathematic</button>
      </mat-menu>
    </li> -->
    <li>
      <a [matMenuTriggerFor]="projectMenu">
        Project
        <img src="/assets/icon/down-arrow.svg"  width=10x>
      </a>
      <mat-menu #projectMenu="matMenu">
          <button routerLink="/projects/mnist" mat-menu-item >
            Handwritten digit recognition
          </button>
      </mat-menu>
    </li>
    <li><a routerLink="/certificate">Certificate</a></li>
  </ul>
  <a class="icon">
    LOVE
    <img src="/assets/heart-3-fill.svg" >
  </a>
</nav>
