<div class="timeline">
  <div class="outer">
    <div class="card" id="card1">
      <div class="info">
        <h3 class="title">Teaching Assistant at AMERICAN CENTER HCMC</h3>
        <p>Robotics & IoT HCMUS collaborated with the Consulate General of the United States in Ho Chi Minh City, Vietnam, to build a STEM bootcamp. </p>
        <p>I assisted my lecturer to support classes of more than 20 students solving the FIRST LEGO League tasks challenge </p>
        <p>Using Lego Spike Prime kit to build robot. Program with internal tool provided by LEGO education (like Scratch) to guide robot perform specific task</p>
        <div class="image">
          <a href="assets/certificate/Certificate_AC1.jpg" target="_blank">
            <img src="assets/certificate/Certificate_AC1.jpg">
          </a>
          <a href="assets/certificate/AC-Activity.jpg">
            <img src="assets/certificate/AC-Activity.jpg">
          </a>
          <a href="assets/certificate/Certificate_AC3.jpg">
            <img src="assets/certificate/Certificate_AC3.jpg" alt="Tran Van Tinh certificate hcmus american center">
          </a>
          <a href="assets/certificate/Lego-activity.jpg">
            <img src="assets/certificate/Lego-activity.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="card" id="card2">
      <div class="info">
        <h3 class="title">Summer School on Mathematical</h3>
        <p>
          This program allow high shool student in any province to join and learn about mathematic. This is conducted by Vietnam Institute for Advanced Studies in Mathematics (VIASM)
        </p>
        <div class="image">
          <a href="assets/certificate/Certificate_math2.jpg" target="_blank">
            <img src="assets/certificate/Certificate_math2.jpg" alt="Certificate Math 2">
          </a>
        </div>
      </div>
    </div>
    <div class="card" id="card3">
      <div class="info">
        <h3 class="title">Vietnam Mathematical Olympiad(VMO)</h3>
        <p>
          Being a part of my provincial team and competing in the Vietnam Mathematics Olympiad (VMO) on the national stage is a remarkable journey that amplifies my passion for mathematics 
        </p>
        <p>
          This annual competition enables high school students like me to demonstrate our mathematical skill
        </p>
        <div class="image">
          <a href="assets/certificate/Certificate_math1.jpg">
            <img src="assets/certificate/Certificate_math1.jpg" />
          </a>
        </div>
      </div>
    </div>
    <div class="card" id="card4">
      <div class="info">
        <h3 class="title">Gold Medal of Mathematics in the Competition for Excellent Students of Gifted High schools in the Northern Delta and Coastal Areas</h3>
        <p>The competition, also known as the Olympic 30/4 provides a platform for students from gifted high
          schools in the Northern Delta and Coastal Areas to showcase their talents and knowledge.</p>
          <div class="image">
            <a href="assets/certificate/Gold-medal-2017.png">
              <img src="assets/certificate/Gold-medal-2017.png" />
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
