
<div style="text-align:center">
  <div>
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
    <br/>
  </div>
</div>
<button (click)="capture()">
  <img src="/assets/icon/camera.svg" alt="Camera Icon" width="50" height="50">
</button>
<div style="position: relative; display: inline-block;">
  <img [src]="webcamImage?.imageAsDataUrl"/>
  <div *ngIf="boundingBox" [style.left.px]="boundingBox.x" [style.top.px]="boundingBox.y" 
       [style.width.px]="boundingBox.w" [style.height.px]="boundingBox.h" 
       style="position: absolute; border: 2px solid red;">
  </div>
</div>
