:host {
  display: contents
}

.canvas-container {
  display: flex;
  justify-content: center;
  text-align: center;
  canvas {
    border: 1px solid #000;
    display: block;
  }
  button {
    margin: 10px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
  button {
    margin: 10px;
  }
}
